<div class="table-container">
  <table
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <!-- Actions Column -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        @switch (getPublicationStatus(element)) { @case ('published') {
        <button
          mat-button
          style="color: red"
          (click)="handleUnPublishVersion(element)"
          [disabled]="element.isLoading"
        >
          @if (!element.isLoading) {
          <mat-icon>unpublished</mat-icon>
          Unpublish } @else {
          <mat-spinner [diameter]="20"></mat-spinner>
          }
        </button>
        } @case ('semi-published') {
        <div style="display: flex">
          <button
            mat-button
            style="color: var(--primary-color)"
            (click)="handlePublishVersion(element)"
            [disabled]="element.isLoading"
          >
            @if (!element.isLoading) {
            <mat-icon>publish</mat-icon>
            } @else {
            <mat-spinner [diameter]="20"></mat-spinner>
            }
          </button>
          <mat-divider></mat-divider>
          <button
            mat-button
            style="color: red"
            (click)="handleUnPublishVersion(element)"
            [disabled]="element.isLoading"
          >
            @if (!element.isLoading) {
            <mat-icon>unpublished</mat-icon>
            } @else {
            <mat-spinner [diameter]="20"></mat-spinner>
            }
          </button>
        </div>
        } @case ('not-published') {
        <button
          mat-button
          style="color: var(--primary-color)"
          (click)="handlePublishVersion(element)"
          [disabled]="element.isLoading"
        >
          @if (!element.isLoading) {
          <mat-icon>publish</mat-icon>
          Publish } @else {
          <mat-spinner [diameter]="20"></mat-spinner>
          }
        </button>
        } }
      </td>
    </ng-container>

    <!-- Published Column -->
    <ng-container matColumnDef="Published">
      <th mat-header-cell *matHeaderCellDef>Published</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon [style.color]="getPublicationColor(element)">
          {{ getPublicationIcon(element) }}
        </mat-icon>
      </td>
    </ng-container>

    <!-- Version Column -->
    <ng-container matColumnDef="Version">
      <th mat-header-cell *matHeaderCellDef>Version</th>
      <td mat-cell *matCellDef="let element">{{ element.Version }}</td>
    </ng-container>

    <!-- Tag Column -->
    <ng-container matColumnDef="Tag">
      <th mat-header-cell *matHeaderCellDef>Tag</th>
      <td mat-cell *matCellDef="let element">
        <app-chip-dropdown
          [options]="getTagOptions(element.Tag)"
          [selectedOption]="element.Tag === '' ? 'None' : element.Tag"
          (optionSelected)="onTagSelected($event, element)"
        ></app-chip-dropdown>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.ID }}</td>
    </ng-container>

    <!-- Expanded Detail Column -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplay.length"
      >
        <div
          class="element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div class="version-detail">
            <div style="justify-content: space-between; display: flex">
              <strong>Modules:</strong>
              @if (element.isLoading) {
              <mat-spinner [diameter]="40"></mat-spinner>
              } @else {
              <button
                mat-button
                (click)="applyChanges(element)"
                [disabled]="element.isLoading"
              >
                Apply
              </button>
              }
            </div>
            <ul>
              @for (module of element.Modules; track module) {
              <li class="module-item">
                <mat-checkbox
                  [checked]="module.IsPublished"
                  (change)="onModuleCheckboxChange(module, $event.checked)"
                  [disabled]="element.isLoading"
                >
                  {{ module.Name }}
                </mat-checkbox>
                @if (module.IsOptional) {
                <span class="module-optional">(Optional)</span>
                }
              </li>
              }
            </ul>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplay"
      class="element-row"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="detail-row"
    ></tr>
  </table>
</div>
