<div class="table-container">
  <table
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    @for (column of columnsToDisplay; track column) {
    <ng-container [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let element">
        @if (column === 'Actions') {
          <app-menu-icons (click)="stopPropagation($event)"
          [menuItems]="menuItems"
          (menuSelection)="handleMenuSelection($event, element)"></app-menu-icons>
        } 
        @if( column === 'Published')
        {
            <mat-icon>{{getPublicationIcon(element)}}</mat-icon>            
        }@else {
        {{ element[column] }}
        }
      </td>
    </ng-container>
    }

    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplay.length"
      >
        <div
          class="element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div class="version-detail">
            <div style="justify-content: space-between; display: flex">
              <strong>Modules:</strong>
              <button mat-button>Apply</button>
            </div>
            <ul>
              @for (module of element.Modules; track module) {
              <li class="module-item">
                <mat-checkbox [checked]="module.IsPublished">
                  {{ module.Name }}
                </mat-checkbox>
                @if (module.IsOptional) {
                <span class="module-optional">(Optional)</span>
                }
              </li>
              }
            </ul>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplay"
      class="element-row"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="detail-row"
    ></tr>
  </table>
</div>
