<div class="sidebar-container">
  <div>
    <app-search
      [showIcons]="true"
      placeholder="Search users"
      (valueChanged)="onSearchValueChanged($event)"
    ></app-search>
  </div>
  <ng-container *ngIf="filteredUsers">
    <ng-container *ngIf="users.length > 0; else noUsersFound">
      <mat-nav-list>
        <mat-list-item
          *ngFor="let user of filteredUsers"
          (click)="selectUser(user)"
          [ngClass]="{
            selected: selectedUser === user,
            'selected-hover': selectedUser === user
          }"
          [ngStyle]="{
            'background-color':
              selectedUser === user ? 'var(--primary-color)' : ''
          }"
        >
          <div class="user-item">
            <div
              class="user-name"
              [matTooltip]="user"
              matTooltipClass="user-name-tooltip"
              [matTooltipShowDelay]="800"
            >
              <span
                [ngStyle]="{
                  color: selectedUser === user ? 'white' : 'black'
                }"
                >{{ user }}</span
              >
            </div>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </ng-container>
  </ng-container>

  <ng-template #noUsersFound>
    <div *ngIf="loading" class="loading">Loading users...</div>
    <div *ngIf="!loading && error" class="error">
      {{ error }}
    </div>
    <div *ngIf="!loading && !error" class="no-users">No users found.</div>
  </ng-template>
</div>
